* {
  overflow: hidden;
}

body {
  background: linear-gradient(to right, #322b85, #532061);
  margin: 0;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

#level {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  z-index: 1;
}

#includeUppercase,
#includeNumbers,
#includeSymbols {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 220px;
  margin-right: 0;
  z-index: 1;
}

.circle {
  position: absolute;
  width: 90px;
  height: 70px;
  background-color: #1f0f3538;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  left: 250px;
  top: 100px;
  border-radius: 5px;
}

.container {
  background: rgba(255, 255, 255, 0.1);
  padding: 4rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  text-align: center;
}

label {
  font-weight: bolder;
}

.character-amount-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.number-input {
  width: 2rem;
  background-color: transparent;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 16px;
  z-index: 1;
  border: none;
  outline: none;
}

.password-display {
  background-color: transparent;
  color: white;
  padding: 1rem;
  height: 2rem;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  border-radius: 0.5rem;
  z-index: 1;
}

.btn {
  grid-column: span 2;
  background-color: transparent;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
  outline: none;
}

.btn:hover {
  background-color: #ffffff33;
  backdrop-filter: blur(10px);
  border: 2.5px solid white;
}
